doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    title Deglier Amorim
    link(rel="stylesheet", src="/assets/css/main.min.css")
    script(src="/assets/js/require.js" data-main="/assets/js/index.js")
  
  body
    h1.head Hello Puggy o/(o
    
    section.wrapper
      a(href="#").toggle-menu clickme!