doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    title Deglier Amorim
    meta(name="viewport", content="width=device-width,initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="/assets/css/main.min.css")
    script(src="/assets/js/require.js" data-main="/assets/js/index.js")
  
  body
    nav.nav.has-shadow
      .container
        .nav-left
          a.nav-item
            img(src='http://bulma.io/images/bulma-logo.png', alt='Bulma logo')
          |  
          a.nav-item.is-tab.is-hidden-mobile.is-active Home
          |  
          a.nav-item.is-tab.is-hidden-mobile Features
          |  
          a.nav-item.is-tab.is-hidden-mobile Pricing
          |  
          a.nav-item.is-tab.is-hidden-mobile About
        span.nav-toggle#nav-toggle
          span
          span
          span
        .nav-right.nav-menu#nav-menu
          a.nav-item.is-tab.is-hidden-tablet.is-active Home
          |  
          a.nav-item.is-tab.is-hidden-tablet Features
          |  
          a.nav-item.is-tab.is-hidden-tablet Pricing
          |  
          a.nav-item.is-tab.is-hidden-tablet About